* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.bg_image {
    margin-top: 0;
    min-height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('bg_img5.jpg');
    background-size: cover;
    background-position: center;
}

main {
    padding: 20px;
}

.tittle_info {
    font-size: 44px;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#do-you-know {
    padding: 50px 0;
    background-color: #f0f0f0;
    text-align: center;
}

#do-you-know h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.info-card {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.info-card img {
    max-width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-card .card-content {
    padding: 20px;
}

.info-card .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.info-card .description-preview {
    font-size: 1rem;
    line-height: 1.4;
    color: #6666668a;
    margin-bottom: 10px;
    text-align: justify;
}

.info-card .full-description {
    display: none;
    font-size: 1rem;
    line-height: 1.4;
    color: #666;
    text-align: justify;
}

.info-card .more-info-btn,
.info-card .less-info-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

.info-card .more-info-btn:hover,
.info-card .less-info-btn:hover {
    background-color: #333;
}

.info-card .less-info-btn {
    margin-top: -30px; /* Adjust negative margin to align with top */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    font-size: 16px;
    filter: blur(.5px);
}